<beans>
    <bean class="minispring.beans.PropertyPlaceHolderConfigurer">
        <property name="location" value="config.properties"/>
    </bean>
    <bean id="autowiredPersonService" class="minispring.autowired.AutowiredPersonService">
        <property name="message" value="${msg}"/>
    </bean>
</beans>